[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
hupper = "*"
pyyaml = "*"
tweepy = "*"
twilio = "*"
ipython = "*"
zstandard = "*"
cached-property = "*"
subparse = "*"
sqlalchemy = "*"
attrs = "*"

[dev-packages]

[scripts]
tweeter = "python -m tweeter"
